<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffcf00;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/saved">My Collection</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Legos By Series
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href = "/legos/1/series/tosave">Series 1</a>
                    <a class="dropdown-item" href = "/legos/2/series/tosave">Series 2</a>
                    <a class="dropdown-item" href = "/legos/3/series/tosave">Series 3</a>
                    <a class="dropdown-item" href = "/legos/4/series/tosave">Series 4</a>
                    <a class="dropdown-item" href = "/legos/5/series/tosave">Series 5</a>
                    <a class="dropdown-item" href = "/legos/6/series/tosave">Series 6</a>
                    <a class="dropdown-item" href = "/legos/7/series/tosave">Series 7</a>
                    <a class="dropdown-item" href = "/legos/8/series/tosave">Series 8</a>
                    <a class="dropdown-item" href = "/legos/9/series/tosave">Series 9</a>
                    <a class="dropdown-item" href = "/legos/10/series/tosave">Series 10</a>
                    <a class="dropdown-item" href = "/legos/11/series/tosave">Series 11</a>
                    <a class="dropdown-item" href = "/legos/12/series/tosave">Series 12</a>
                    <a class="dropdown-item" href = "/legos/13/series/tosave">Series 13</a>
                    <a class="dropdown-item" href = "/legos/14/series/tosave">Series 14</a>
                    <a class="dropdown-item" href = "/legos/15/series/tosave">Series 15</a>
                    <a class="dropdown-item" href = "/legos/16/series/tosave">Series 16</a>
                    <a class="dropdown-item" href = "/legos/17/series/tosave">Series 17</a>
                    <a class="dropdown-item" href = "/legos/18/series/tosave">Series 18</a>
                    <a class="dropdown-item" href = "/legos/19/series/tosave">Series 19</a>

                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/legos/tosave">Add From the Full List of Legos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lego Suggestions
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href = "/new/create">Create a New Lego</a>
                    <a class="dropdown-item" href = "/new">My Saved New Legos</a>

                </div>
            </li>
        </ul>
        <form class = "nav-link" action="/sessions/destroy" method="post">
            <input class = "btn btn-outline-dark" type="submit" value="Log Out">
        </form>

    </div>
</nav>
