<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/saved">My Collection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/legos">All the Legos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lego Suggestions
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href = "/new/create">Create a New Lego</a>
                    <a class="dropdown-item" href = "/new">My Saved New Legos</a>

                </div>
            </li>

        </ul>
        <form class = "nav-link" action="/sessions/destroy" method="post">
            <input class = "btn btn-outline-dark" type="submit" value="Log Out">
        </form>
    </div>
</nav>
