<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <title></title>
        <% include ../partials/bootstrap-meta.ejs %>
    </head>
    <body>
        <h1>New Page</h1>

        <form action="/new" method="POST">
            Name: <input type="text" name="name"><br/>

            Pick One!
            <img src = "/images/new/happy_guy.jpg">
            <input type="checkbox" name="happyguy">
            <img src = "/images/new/happy_girl.jpg">
            <input type="checkbox" name="happygirl">
            <img src = "/images/new/angry_guy.jpg">
            <input type="checkbox" name="angryguy">
            <img src = "/images/new/angry_girl.jpg">
            <input type="checkbox" name="angrygirl">
            <img src = "/images/new/scared_guy.jpg">
            <input type="checkbox" name="scaredguy">
            <img src = "/images/new/scared_girl.jpg">
            <input type="checkbox" name="scaredgirl">


            <input type="submit" value="Create Lego">

        </form>
        <% include ../partials/bootstrap.ejs %>
    </body>
</html>
