<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/series.css">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <h1> Series <%=series%></h1>

    <div class = "container">
        <% for(let i = 0; i < legos.length; i++){ %>
            <div class = "card">
                <a href = "/legos/<%=legos[i].id%>">
                    <%=legos[i].name%>
                </a><br/>
                <img src = "<%=legos[i].img%>"><br/>

            </div>
            <% } %>
            <a href = "/legos">Back to Index</a>

        </div>

    </body>
    </html>
