<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title></title>
    <% include ./partials/bootstrap-meta.ejs %>
    <link rel="stylesheet" href="/home.css">

</head>
<body>

    <% include ./partials/navbar.ejs %>



    <div class="container-expand-lg blue rounded">
        <div class="row justify-content-center">
            <h3>Browse by Series</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <a class="dropdown-item" href = "legos/1/series">Series 1</a>
                <a class="dropdown-item" href = "legos/2/series">Series 2</a>
                <a class="dropdown-item" href = "legos/3/series">Series 3</a>
                <a class="dropdown-item" href = "legos/4/series">Series 4</a>
            </div>

            <div class="col-2">
                <a class="dropdown-item" href = "legos/5/series">Series 5</a>
                <a class="dropdown-item" href = "legos/6/series">Series 6</a>
                <a class="dropdown-item" href = "legos/7/series">Series 7</a>
                <a class="dropdown-item" href = "legos/8/series">Series 8</a>
            </div>
            <div class="col-2">
                <a class="dropdown-item" href = "legos/9/series">Series 9</a>
                <a class="dropdown-item" href = "legos/10/series">Series 10</a>
                <a class="dropdown-item" href = "legos/11/series">Series 11</a>
                <a class="dropdown-item" href = "legos/12/series">Series 12</a>
            </div>
            <div class="col-2">
                <a class="dropdown-item" href = "legos/13/series">Series 13</a>
                <a class="dropdown-item" href = "legos/14/series">Series 14</a>
                <a class="dropdown-item" href = "legos/15/series">Series 15</a>
                <a class="dropdown-item" href = "legos/16/series">Series 16</a>
            </div>
            <div class="col-2">
                <a class="dropdown-item" href = "legos/17/series">Series 17</a>
                <a class="dropdown-item" href = "legos/18/series">Series 18</a>
                <a class="dropdown-item" href = "legos/19/series">Series 19</a>
            </div>
        </div>
    </div>
    <div class="container-fluid clear rounded">
        <div class="row justify-content-center">
            <a class = "h3 login" href="/sessions/new">Log In to Save Your Collection</a><br/>
        </div>
        <div class="row justify-content-center">
            <a class = "h3 login" href="/users/new">Sign Up to Start a Collection</a>
        </div>
    </div>

    <% include ./partials/bootstrap.ejs %>
</body>
</html>
