<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>New Page</h1>

        <form action="/legos" method="POST">
            Name: <input type="text" name="name"><br/>
            Series: <input type="text" name="series"><br/>
            Year: <input type="number" name="year"><br/>
            Image: <input type="text" name="img"><br/>
            <input type="submit" value="Create Lego">

        </form>
    </body>
</html>
