body {
    font-family: 'Lato', serif;
    background-color: #ffcf00;

}

li:hover {
    background-color: #ECF3F9;
}

@font-face {
    font-family: 'KBSticktoIt';
    src: url('/fonts/KBSticktoIt.woff2') format('woff2'),
    url('/fonts/KBSticktoIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.section {
    display: flex;
    justify-content: center;
}

.new-lego {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border: 3px solid black;
}

.create {
    margin: 10px;
}

heading {
    text-align: center;
}

h1 {
    font-size: 4em;
    font-family: 'KBSticktoIt', cursive;
    padding: 6px;
    color: black;
    text-shadow:
    -2px -2px 0 #ffcf00,
    -2px 2px 0 #ffcf00,
    2px 2px 0 #ffcf00,
    2px -2px 0 #ffcf00;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navlogin:hover {
    background-color: #ECF3F9;
    padding: 5px;
    text-decoration: none;
    color: black;
}
