body {
    font-family: 'Lato', serif;

}

li:hover {
    background-color: white;
}

@font-face {
    font-family: 'KBSticktoIt';
    src: url('/fonts/KBSticktoIt.woff2') format('woff2'),
        url('/fonts/KBSticktoIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

heading {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 4em;
    font-family: 'KBSticktoIt', cursive;
    padding: 6px;
    color: black;
    text-shadow:
    -2px -2px 0 #ffcf00,
    -2px 2px 0 #ffcf00,
    2px 2px 0 #ffcf00,
    2px -2px 0 #ffcf00;
}

img {
    width: 80%;
    margin: 5px 0px 8px 10%;
}

.btn-sm {
    color: black;
    border: 2px solid black;
    margin-bottom: 10px;
}

.lego {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    margin: 5px;
    padding: 10px;
}

a {
    color: black;
}


a:hover {
    color: black;
    text-decoration: none;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagenav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.add {
    padding: 5px;
    width: 170px;
    margin-top: 5px;
}

.btn-outline-light {
    padding: 0px;
    width: 140px;
}

.actions {
    margin-bottom: 5px;
}

.actions a {
    margin: 10px;
    font-size: 20px;
}

.actions a:hover {
    text-shadow:
    -1px -1px 2px #ffcf00,
    -1px 1px 2px #ffcf00,
    1px 1px 2px #ffcf00,
    1px -1px 2px #ffcf00;
}

.logout {
    height: 40px;
    width: 150px;
    margin: 15px;
}

.empty {
    color: lightgrey;
    border: 1px solid lightgrey;
    padding: 2px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty:hover {
    color: lightgrey;
    border: 1px solid lightgrey;
}

.name {
    margin-bottom: 1px;
}

.nav-logout {
    padding: 0px;
}
