body {
    font-family: 'Lato', serif;

}

li:hover {
    background-color: white;
}

@font-face {
    font-family: 'KBSticktoIt';
    src: url('/fonts/KBSticktoIt.woff2') format('woff2'),
        url('/fonts/KBSticktoIt.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

heading {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 4em;
    font-family: 'KBSticktoIt', cursive;
    padding: 6px;
    color: black;
    text-shadow:
    -2px -2px 0 #ffcf00,
    -2px 2px 0 #ffcf00,
    2px 2px 0 #ffcf00,
    2px -2px 0 #ffcf00;
}

img {
    width: 80%;
    margin: 5px 0px 8px 10%;
}

.btn {
    color: black;
    border: 2px solid black;
    margin-bottom: 10px;
}

.lego {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 5px;
    padding: 10px;
}

a {
    color: black;
}


a:hover {
    color: black;
    text-decoration: none;
}

.navlogin {
    padding: 5px;
}

.navlogin:hover {
    background-color: #ECF3F9;
    padding: 5px;
    text-decoration: none;
    color: black;
}



.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    margin: 2.5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagenav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.btn-outline-dark {
    padding: 0px;
    width: 140px;
}
