.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addbox {
    display: none;
    position: absolute;
}

.hide {
    display: none;
}
