<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <title>New User</title>
    <%- include ('../partials/bootstrap-meta.ejs') %>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <%- include ('../partials/navbar_login.ejs') %>
    <div class="container">
        <div class="section">
            <heading>
                <h1>New User</h1>
            </heading>
            <form action="/users" method="post">
                Username: <input class = "field"   type="text" name="username"/><br/>
                Password: <input class = "field"   type="password" name="password"/><br/>
                <input class = "btn btn-primary" type="submit" value="Register">
                <a href = "/" class = "btn btn-primary">Back to Front Page</a>

            </form>
        </div>
    </div>
    <%- include ('../partials/bootstrap.ejs') %>
</body>
</html>
